// COLORS
$primary-color: #db7f8e;
$secondary-color: #d5c5c8;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #604d53;

$dark-blue-text: #333333; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
